<!--<div id="mySidenav" class="sidenav">-->
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action" routerLinkActive="active"
     routerLink="/clientes">Clientes</a>
  <a href="#" class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/cuentas">Cuentas</a>
  <a href="#" class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/movimientos">Movimientos</a>
  <a href="#" class="list-group-item list-group-item-action" routerLinkActive="active"
     routerLink="/reportes">Reportes</a>
</div>
