<div class="container mt-5">
  <h1>Cuentas</h1>
  <div class="my-3">
    <input type="text" id="cuenta" [(ngModel)]="clientToSearch"  placeholder="Buscar" (input)="onSearchValue($event)"/>
    <button type="button" routerLink="./add" class="btn btn-primary ms-2 float-end">Nuevo</button>
  </div>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">Número de Cuenta</th>
      <th scope="col">Tipo</th>
      <th scope="col">Saldo Inicial</th>
      <th scope="col">Cliente</th>
      <th scope="col">Estado</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let cuenta of displayedCuentas">
      <tr routerLink="./{{cuenta.cuentaId}}/edit" class="cursor-pointer">
        <td>{{ cuenta.numeroCuenta }}</td>
        <td>{{ cuenta.tipoCuenta }}</td>
        <td>{{ cuenta.saldoInicial  | currency }}</td>
        <td><input type="checkbox" checked="{{ cuenta.estado }}" disabled/></td>
        <td>{{ cuenta.cliente }}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
